/*** The new CSS reset - version 1.5.1 (last updated 1.3.2022) ***/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

img {
  width: 100%;
  vertical-align: top;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  padding: 0px 16px;
  margin: auto;
}
@media (min-width: 751px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 70px;
  background-color: white;
}

.logo {
  max-width: 145px;
}
@media (min-width: 751px) {
  .logo {
    margin: 20px 0px;
    margin-left: 240px;
  }
}
@media (max-width: 750px) {
  .logo {
    margin: 0px 0px 20px 20px;
    margin-top: 20px;
  }
}

.header__menu {
  background-color: black;
  color: white;
  font-size: 14px;
}
@media (min-width: 751px) {
  .header__menu {
    padding-left: 240px;
  }
}
@media (max-width: 750px) {
  .header__menu {
    padding: 10px 0px 10px 16px;
    overflow-x: auto;
    height: 40px;
  }
}

.header__list {
  display: flex;
  align-items: center;
}
@media (min-width: 751px) {
  .header__list {
    height: 40px;
  }
}
.header__list li {
  margin-right: 60px;
}
@media (max-width: 750px) {
  .header__list {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

main {
  margin-top: 150px;
  z-index: 0;
}

@media (min-width: 751px) {
  .pick-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 751px) {
  .pick-up1,
.pick-up2,
.pick-up3 {
    width: 32%;
    margin: auto;
  }
}

.pick-up__text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media (max-width: 750px) {
  .pick-up__text {
    margin: 10px 0px 15px 0px;
  }
}

.pick-up__link {
  display: block;
  font-size: 14px;
  text-align: center;
  max-width: 83px;
  margin: auto;
}
@media (max-width: 750px) {
  .pick-up__link {
    margin-bottom: 30px;
  }
}

.border-animation {
  position: relative;
}
.border-animation::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #000;
  transition: all 0.3s;
}
.border-animation:hover::after {
  opacity: 0;
  bottom: -5px;
}

.main__area {
  margin-top: 70px;
}
@media (min-width: 751px) {
  .main__area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 140px;
  }
}

@media (min-width: 751px) {
  .main {
    width: 65%;
  }
}

@media (min-width: 751px) {
  .side__bar {
    width: 31%;
  }
}

.main-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sub-title {
  display: flex;
  font-size: 14px;
}
.sub-title a {
  margin-right: 20px;
}

.main__photo {
  margin: 10px 0px;
}

.main__text {
  margin-bottom: 30px;
  padding: 0px 41px;
}
.link {
  display: block;
  font-size: 14px;
  text-align: center;
  max-width: 83px;
  margin: auto;
  margin-bottom: 80px;
}

.image {
  max-width: 130px;
}

.plofile__image {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image {
  margin: auto;
}

.name {
  text-align: center;
  margin: 30px 0px;
  font-size: 18px;
  font-weight: bold;
}

.profile__text {
  margin-bottom: 30px;
  font-size: 15px;
}

.title {
  text-align: center;
  margin: 60px 0px 30px 0px;
  font-size: 18px;
  font-weight: bold;
}

.ranking__text {
  margin-bottom: 30px;
  font-size: 14px;
}

.archive__list {
  font-size: 14px;
}
.archive__list li {
  padding: 20px 0px 20px 20px;
  border-top: 1px solid #777777;
}

.archive__list li:last-child {
  border-bottom: 1px solid #777777;
}

@media (min-width: 751px) {
  .footer__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
  }
}
@media (max-width: 750px) {
  .footer__menu:first-child {
    padding-top: 50px;
  }
}

footer {
  background-color: #f7f7f7;
}
@media (max-width: 750px) {
  footer {
    margin-top: 120px;
  }
}

@media (min-width: 751px) {
  .about,
.menu,
.twitter {
    width: 30%;
  }
}

.footer-title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 751px) {
  .footer-title {
    margin-top: 60px;
  }
}

@media (max-width: 750px) {
  .about {
    margin-bottom: 50px;
  }
}

.arrow::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent black;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.arrow {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-bottom: 5px;
}

.footer__text {
  font-size: 14px;
  margin-bottom: 20px;
}

.menu {
  font-size: 14px;
}
.menu li {
  padding: 15px 0px 15px 15px;
  border-top: 1px solid #777777;
}

.menu li:last-child {
  border-bottom: 1px solid #777777;
}

@media (max-width: 750px) {
  .twitter {
    margin-top: 30px;
  }
}

.footer-logo {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
}
@media (max-width: 750px) {
  .footer-logo {
    padding-top: 90px;
  }
}

#twitter-widget-0 {
  width: 200px !important;
}/*# sourceMappingURL=travel.css.map */