@import "_settings.scss";
body {
  font-family: "Noto Sans JP", sans-serif;
}
.container {
  padding: 0px 16px;
  margin: auto;
  @include pc {
    max-width: 1200px;
  }
}
.header {
  position: fixed; /* ヘッダーを固定する */
  z-index: 1;
  top: 0px; /* 上部から配置の基準位置を決める */
  width: 100%; /* ヘッダーの横幅を指定する */
  height: 70px;
  background-color: white;
}
.logo {
  max-width: 145px;
  @include pc {
    margin: 20px 0px;
    margin-left: 200px;
  }
  @include sp {
    margin: 0px 0px 20px 20px;
    margin-top: 20px;
  }
}
.header__menu {
  background-color: black;
  color: white;
  font-size: 14px;
  @include pc {
    padding-left: 200px;
  }
  @include sp {
    padding: 10px 0px 10px 16px;
    overflow-x: auto;
    height: 40px;
  }
}
.header__list {
  display: flex;
  align-items: center;
  @include pc {
    height: 40px;
  }
  li {
    margin-right: 60px;
  }
  @include sp {
    width: max-content;
  }
}
main {
  margin-top: 150px;
  z-index: 0;
}
.pick-up {
  @include pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.pick-up1,
.pick-up2,
.pick-up3 {
  @include pc {
    width: 32%;
    margin: auto;
  }
}
.pick-up__text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  @include sp {
    margin: 10px 0px 15px 0px;
  }
}
.pick-up__link {
  border-bottom: 1px solid black;
  display: block;
  font-size: 14px;
  text-align: center;
  max-width: 83px;
  margin: auto;
  @include sp {
    margin-bottom: 30px;
  }
}
.main__area {
  margin-top: 70px;
  @include pc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 140px;
  }
}
.main {
  @include pc {
    width: 65%;
  }
}
.side__bar {
  @include pc {
    width: 31%;
  }
}
.main-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sub-title {
  display: flex;
  font-size: 14px;
  a {
    margin-right: 20px;
  }
}
.main__photo {
  margin: 10px 0px;
}
.main__text {
  margin-bottom: 30px;
  @include sp {
  }
  padding: 0px 41px;
}
.link {
  border-bottom: 1px solid black;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 80px;
  @include pc {
    margin-left: 338px;
  }
  @include sp {
    margin-left: 130px;
  }
}
.image {
  max-width: 130px;
}
.plofile__image {
  border-radius: 50%;
  object-fit: cover;
}
.image {
  margin: auto;
}
.name {
  text-align: center;
  margin: 30px 0px;
  font-size: 18px;
  font-weight: bold;
}
.profile__text {
  margin-bottom: 30px;
  font-size: 15px;
}
.title {
  text-align: center;
  margin: 60px 0px 30px 0px;
  font-size: 18px;
  font-weight: bold;
}
.ranking__text {
  margin-bottom: 30px;
  font-size: 14px;
}
.archive__list {
  font-size: 14px;
  li {
    padding: 20px 0px 20px 20px;
    border-top: 1px solid #777777;
  }
}
.archive__list li:last-child {
  border-bottom: 1px solid #777777;
}
.footer__menu {
  @include pc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
  }
}
.footer__menu:first-child {
  @include sp {
    padding-top: 50px;
  }
}
footer {
  background-color: #f7f7f7;
  @include sp {
    margin-top: 120px;
  }
}
.about,
.menu,
.twitter {
  @include pc {
    width: 30%;
  }
}
.footer-title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  @include pc {
    margin-top: 60px;
  }
}
.about {
  @include sp {
    margin-bottom: 50px;
  }
}
.arrow::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent black;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.arrow {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-bottom: 5px;
}
.footer__text {
  font-size: 14px;
  margin-bottom: 20px;
}
.menu {
  font-size: 14px;
  li {
    padding: 15px 0px 15px 15px;
    border-top: 1px solid #777777;
  }
}

.menu li:last-child {
  border-bottom: 1px solid #777777;
}
.twitter {
  @include sp {
    margin-top: 30px;
  }
}
.footer-logo {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
  @include sp {
    padding-top: 90px;
  }
}
